<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique at ullam culpa fugit aspernatur
            asperiores,
            quas animi modi sapiente quae minus ex assumenda laborum, eveniet dolor vero autem beatae amet. Alias cum
            assumenda quia, inventore illo rerum fugit ipsam omnis maiores autem unde excepturi, quaerat, similique
            nulla
            obcaecati quisquam minima.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique at ullam culpa fugit aspernatur
            asperiores,
            quas animi modi sapiente quae minus ex assumenda laborum, eveniet dolor vero autem beatae amet. Alias cum
            assumenda quia, inventore illo rerum fugit ipsam omnis maiores autem unde excepturi, quaerat, similique
            nulla
            obcaecati quisquam minima.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique at ullam culpa fugit aspernatur
            asperiores,
            quas animi modi sapiente quae minus ex assumenda laborum, eveniet dolor vero autem beatae amet. Alias cum
            assumenda quia, inventore illo rerum fugit ipsam omnis maiores autem unde excepturi, quaerat, similique
            nulla
            obcaecati quisquam minima.
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>